.wrapper{
    width: 60%;
    height: 13em;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 14px 14px 14px 14px;
}